.main-nav {
  width: 260px;
  height: 200px;
  padding: 52px 40px 40px 40px;
  border-radius: 16px;
  border: 2px solid $color-black;
  z-index: 1;
  position: fixed;
  top: 25px;
  right: 27px;
  background-color: $color-light-green;
  opacity: 0;
  pointer-events: none;
  clip-path: circle(3.1% at 76% 22%);
  transition: clip-path 0.5s ease-in, opacity 0.5s ease-in;
  

  .header--open & {
    opacity: 1;
    clip-path: circle(110.3% at 77% 21%);
    transition: clip-path 0.5s ease-in, opacity 0.5s ease-in;
    pointer-events: all;

    &__link {
      opacity: 1;
      transition: opacity 1s ease-in 0.5s;
    }
  }
  
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: $color-black;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }
}
