.product-card {
  background-color: $color-white-15;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  min-height: 715px;
  padding: 24px 40px 40px;
  $root: &;
  overflow: hidden;
  position: relative;

  .form-order--success & {
    &__img-final {
      z-index: 10;
      animation: rollIn 6s cubic-bezier(0.33, 0.69, 0.31, 1.45) 1 forwards;
    }

    &__text-final {
      z-index: 10;
      animation: fadeInUp 3s ease-in 1 forwards 3s;
    }

    &__text-final-thanks {
      z-index: 10;
      animation: fadeInUpTwo 3s ease-in 1 forwards 3.5s;
    }
  }

  &--green {
    #{$root}__title-accent {
      color: $color-light-green;
    }

    #{$root}__skills-value {
      background-color: $color-light-green;
    }
  }

  &__top {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }

  &__info {
    align-items: center;
    background-color: transparent;
    border: 1px solid $color-white;
    border-radius: 14px;
    color: $color-white;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    gap: 8px;
    line-height: 20px;
    padding: 4px 16px;
    transition: color $transition-300, border-color $transition-300;

    &:hover,
    &:focus-visible {
      border-color: $color-light-green;
      color: $color-light-green;
    }
  }

  &__info-icon {
    flex-shrink: 0;
    pointer-events: none;
  }

  &__title {
    color: $color-white;
    font-family: "Press Start 2P", "Arial", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 12px 0;
  }

  &__about {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 24px 0;
  }

  &__skills {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    margin: 0 0 40px 0;
    padding: 0;
  }

  &__skills-item {
    align-items: flex-start;
    color: $color-white;
    display: flex;
    font-size: 14px;
    line-height: 20px;
  }

  &__skills-value {
    border-radius: 12px;
    color: $color-black;
    font-weight: 700;
    margin-right: 8px;
    padding: 2px 8px;
  }

  &__price {
    display: flex;
    gap: 34px;
    justify-content: flex-end;
    margin-bottom: 40px;
  }

  &__old-price {
    font-family: "Press Start 2P", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    position: relative;

    &::after {
      background-color: $color-salmon;
      content: "";
      height: 2px;
      left: -2px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
  }

  &__new-price {
    color: $color-white;
    font-family: "Press Start 2P", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
  }

  &__agree {
    color: $color-white-70;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 24px 0;
  }

  &__img-final {
    width: 120px;
    height: 120px;
    position: absolute;
    pointer-events: none;
    transform: translate(-300px, -100px);
  }

  &__text-final {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-black;
    opacity: 0;
    pointer-events: none;
    width: 100%;
  }

  &__text-final-thanks {
    font-family: "Press Start 2P";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-black;
    opacity: 0;
    pointer-events: none;
    width: 100%;
  }
}
